<%= form_for @candidate do |f| %>
    <% if @candidate.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
            <h4 class="alert-heading">
                <%= pluralize(@candidate.errors.count, "error") %>
                prohibited this candidate from being saved:
            </h4>
            <hr>
            <ul>
                <% @candidate.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-row">
        <div class="form-group col">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, :class => "form-control" %>
        </div>
        <div class="form-group col">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, :class => "form-control" %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <%= f.label :phone_number %>
            <%= f.text_field :phone_number, :class => "form-control" %>
        </div>
        <div class="form-group col">
            <%= f.label :email %>
            <%= f.text_field :email, :class => "form-control" %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <%= f.label :address_1 %>
            <%= f.text_field :address_1, :class => "form-control" %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <%= f.label :address_2 %>
            <%= f.text_field :address_2, :class => "form-control" %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <%= f.label :city %>
            <%= f.text_field :city, :class => "form-control" %>
        </div>
        <div class="form-group col">
            <%= f.label :state %>
            <%= f.select :state, options_for_select(us_states, @candidate.state), {}, { class: "form-control" } %>
        </div>
        <div class="form-group col">
            <%= f.label :zip_code %>
            <%= f.text_field :zip_code, :class => "form-control" %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <%= f.label :date_of_birth %>
            <%= f.text_field :date_of_birth, :class => "form-control" %>
        </div>
        <div class="form-group col">
            <%= f.label :stage %>
            <%= f.select :stage, options_for_select(stages, @candidate.stage), {}, { class: "form-control" } %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <%= f.label :interview_date %>
            <%= f.text_field :interview_date, :class => "form-control" %>
        </div>
        <div class="form-group col">
            <%= f.label :test_date %>
            <%= f.text_field :test_date, :class => "form-control" %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <%= f.label :affidavit_sent %>
            <%= f.select :affidavit_sent, [['Not Sent', false], ['Sent', true]], {}, { class: "form-control" } %>
        </div>
        <div class="form-group col">
            <%= f.label :affidavit_received %>
            <%= f.select :affidavit_received, [['Not Received', false], ['Received', true]], {}, { class: "form-control" } %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <%= f.label :voucher_sent %>
            <%= f.select :voucher_sent, [['Not Sent', false], ['Sent', true]], {}, { class: "form-control" } %>
        </div>
        <div class="form-group col">
            <%= f.label :test_passed %>
            <%= f.select :test_passed, [['Not Passed', false], ['Passed', true]], {}, { class: "form-control" } %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <%= f.label :licensed %>
            <%= f.select :licensed, [['Not Licensed', false], ['Licensed', true]], {}, { class: "form-control" } %>
        </div>
        <div class="form-group col">
            <% if is_agent? %>
                <%= f.hidden_field :agent_id, value: current_user.id %>
                <%= f.label :recruiter_id %>
                <%= f.select :recruiter_id, Recruiter.all.collect {|r| [r.first_name + ' ' + r.last_name, r.id]}, {}, { class: "form-control" } %> 
            <% else %>
                <%= f.hidden_field :recruiter_id, value: current_user.id %>
                <%= f.label :agent_id %>
                <%= f.select :agent_id, Agent.all.collect {|a| [a.first_name + ' ' + a.last_name, a.id]}, {}, { class: "form-control" } %>
            <% end %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <%= f.submit @candidate.persisted? ? "Update Candidate" : "Create Candidate", :class => 'btn btn-primary btn-block text-decoration-none' %>
        </div>
    </div>

<% end %> 