<%= form_for @recruiter do |f| %>
    <% if @recruiter.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
            <h4 class="alert-heading">
                <%= pluralize(@recruiter.errors.count, "error") %>
                prohibited this recruiter from being saved:
            </h4>
            <hr>
            <ul>
                <% @recruiter.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, :class => "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, :class => "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number, :class => "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, :class => "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :class => "form-control" %>
    </div>
    
    <%= f.submit "Signup", :class => 'btn btn-primary btn-block text-decoration-none'%>
<% end %> 