<%= link_to "New Candidate", new_candidate_path %>


<h1>Dashboard</h1>

<div>
    <div>
        <h3>Stage 1 - Interested</h3>
    </div>

    <% @candidates_1.each do |candidate| %>
    <div>
        <p>
            <%= candidate.first_name %> <%= candidate.last_name %>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <%= link_to "Edit", edit_candidate_path(candidate) %>&nbsp; &nbsp; 
            <%= link_to "View", candidate_path(candidate) %>
        </p>
    </div>
    <% end %>
</div>

<div>
    <div>
        <h3>Stage 2 - Interview Set</h3>
    </div>

    <% @candidates_2.each do |candidate| %>
    <div>
        <p>
            <%= candidate.first_name %> <%= candidate.last_name %>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <strong>Interview Date: </strong><%= candidate.interview_date %>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <%= link_to "Edit", edit_candidate_path(candidate) %>&nbsp; &nbsp; 
            <%= link_to "View", candidate_path(candidate) %>
        </p>
    </div>
    <% end %>
</div>

<div>
    <div>
        <h3>Stage 3 - Affidavit Sent</h3>
    </div>

    <% @candidates_3.each do |candidate| %>
    <div>
        <p>
            <%= candidate.first_name %> <%= candidate.last_name %>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <strong>Last Updated: </strong><%= candidate.updated_at.strftime("%b %d, %Y at %l:%M %P") %>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <%= link_to "Edit", edit_candidate_path(candidate) %>&nbsp; &nbsp; 
            <%= link_to "View", candidate_path(candidate) %>
        </p>
    </div>
    <% end %>
</div>

<div>
    <div>
        <h3>Stage 4 - Voucher Sent</h3>
    </div>

    <% @candidates_4.each do |candidate| %>
    <div>
        <p>
            <%= candidate.first_name %> <%= candidate.last_name %>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <%= link_to "Edit", edit_candidate_path(candidate) %>&nbsp; &nbsp; 
            <%= link_to "View", candidate_path(candidate) %>
        </p>
    </div>
    <% end %>
</div>

<div>
    <div>
        <h3>Stage 5 - Studying for Test</h3>
    </div>

    <% @candidates_5.each do |candidate| %>
    <div>
        <p>
            <%= candidate.first_name %> <%= candidate.last_name %>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <%= link_to "Edit", edit_candidate_path(candidate) %>&nbsp; &nbsp; 
            <%= link_to "View", candidate_path(candidate) %>
        </p>
    </div>
    <% end %>
</div>

<div>
    <div>
        <h3>Stage 6 - Test Scheduled</h3>
    </div>

    <% @candidates_6.each do |candidate| %>
    <div>
        <p>
            <%= candidate.first_name %> <%= candidate.last_name %>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <strong>Test Date: </strong><%= candidate.test_date %>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <%= link_to "Edit", edit_candidate_path(candidate) %>&nbsp; &nbsp; 
            <%= link_to "View", candidate_path(candidate) %>
        </p>
    </div>
    <% end %>
</div>

<div>
    <div>
        <h3>Stage 7 - Sent To Contracting</h3>
    </div>

    <% @candidates_7.each do |candidate| %>
    <div>
        <p>
            <%= candidate.first_name %> <%= candidate.last_name %>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <%= link_to "Edit", edit_candidate_path(candidate) %>&nbsp; &nbsp; 
            <%= link_to "View", candidate_path(candidate) %>
        </p>
    </div>
    <% end %>
</div>

<div>
    <div>
        <h3>Stage 8 - Hired</h3>
    </div>

    <% @candidates_8.each do |candidate| %>
    <div>
        <p>
            <%= candidate.first_name %> <%= candidate.last_name %>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <%= link_to "Edit", edit_candidate_path(candidate) %>&nbsp; &nbsp; 
            <%= link_to "View", candidate_path(candidate) %>
        </p>
    </div>
    <% end %>
</div>

<div>
    <div>
        <h3>Stage 9 - Archived/Not Interested</h3>
    </div>

    <% @candidates_9.each do |candidate| %>
    <div>
        <p>
            <%= candidate.first_name %> <%= candidate.last_name %>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <%= link_to "Edit", edit_candidate_path(candidate) %>&nbsp; &nbsp; 
            <%= link_to "View", candidate_path(candidate) %>
        </p>
    </div>
    <% end %>
</div>

<div>
    <div>
        <h3>Stage 10 - Archived/No Contact</h3>
    </div>

    <% @candidates_10.each do |candidate| %>
    <div>
        <p>
            <%= candidate.first_name %> <%= candidate.last_name %>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <%= link_to "Edit", edit_candidate_path(candidate) %>&nbsp; &nbsp; 
            <%= link_to "View", candidate_path(candidate) %>
        </p>
    </div>
    <% end %>
</div>