<h1>Name: <%= @candidate.first_name %> <%= @candidate.last_name %></h1>
<h3>Email: <%= @candidate.email %></h3>
<h3>Phone: <%= @candidate.phone_number %></h3>
<h3>Address: <%= @candidate.address_1 %></h3>
<% if !@candidate.address_2.empty? %>
    <h3>Address 2: <%= @candidate.address_2 %></h3>
<% end %>
<h3>City: <%= @candidate.city %></h3>
<h3>State: <%= @candidate.state %></h3>
<h3>Zip: <%= @candidate.zip_code %></h3>
<% if !@candidate.date_of_birth.empty? %>
    <h3>Date of Birth: <%= @candidate.date_of_birth %></h3>
<% end %>
<% if !@candidate.interview_date.empty? %>
    <h3>Interview Date: <%= @candidate.interview_date %></h3>
<% end %>
<h3>Stage: <%= @candidate.stage %></h3>
<h3>Affidavit Status: 
    <% if @candidate.affidavit_received %>
        Sent & Received
    <% elsif @candidate.affidavit_sent %>
        Sent but Not Received
    <% else %>
        Not Sent
    <% end %>
</h3>
<h3>Voucher Status: 
    <% if @candidate.voucher_sent %>
        Voucher Sent
    <% else %>
        Not Sent
    <% end %>
</h3>
<h3>Test Status: 
    <% if @candidate.test_passed %>
        Test Passed
    <% elsif !@candidate.test_date.empty? %>
        Test Scheduled on <%= @candidate.test_date %>
    <% else %>
        No Test Scheduled
    <% end %>
</h3>
<h3>License Status: 
    <% if @candidate.licensed %>
        Licensed
    <% else %>
        Not Licensed Yet
    <% end %>
</h3>
<% if @candidate.agent_id != 1 %>
    <h3>Agent: <%= @agent.first_name %> <%= @agent.last_name %></h3>
<% else %>
    <h3>No Agent Assigned Yet</h3>
<% end %>
<% if @candidate.recruiter_id != 2 %>
    <h3>Recruiter: <%= @recruiter.first_name %> <%= @recruiter.last_name %></h3>
<% else %>
    <h3>No Recruiter Assigned Yet</h3>
<% end %>

<%= link_to "All Candidates", candidates_path %><br><br>

<%= link_to "Edit Candidate", edit_candidate_path %><br><br>

<%= form_tag candidate_path(@candidate.id), method: "delete" do %>
    <%= submit_tag "Delete #{@candidate.first_name} #{@candidate.last_name}" %>
<% end %>

