<div class="col-6 offset-1 mt-5">
    <div class="shadow card mb-5">
        <h5 class="card-header text-center"><%= @candidate.first_name %> <%= @candidate.last_name %></h5>
        <div class="card-body">
            <p class="card-text">
                <div class="row ml-3">
                    <div class="col">
                        <p class="h6"><strong>Email:</strong> <%= @candidate.email %></p>
                    </div>
                    <div class="col">
                        <p class="h6"><strong>Phone:</strong> <%= @candidate.phone_number %></p>
                    </div>
                </div>
                <div class="row ml-3 mt-2">
                    <div class="col">
                        <p class="h6"><strong>Address:</strong> <%= @candidate.address_1 %></p>
                    </div>
                    <div class="col">
                        <% if !@candidate.address_2.empty? %>
                            <p class="h6"><strong>Address 2:</strong> <%= @candidate.address_2 %></p>
                        <% end %>
                    </div>
                </div>
                <div class="row ml-3 mt-2">
                    <div class="col">
                        <p class="h6"><strong>City:</strong> <%= @candidate.city %></p>
                    </div>
                    <div class="col">
                        <p class="h6"><strong>State:</strong> <%= @candidate.state %></p>
                    </div>
                    <div class="col">
                        <p class="h6"><strong>Zip:</strong> <%= @candidate.zip_code %></p>
                    </div>
                </div>
                <div class="row ml-3 mt-2">
                    <div class="col">
                        <p class="h6">
                            <strong>Stage:</strong> <%= @candidate.stage %> - 
                            <% if @candidate.stage == '1' %>
                                Interested
                            <% elsif @candidate.stage == '2' %>
                                Interview Set
                            <% elsif @candidate.stage == '3' %>
                                Affidavit Sent
                            <% elsif @candidate.stage == '4' %>
                                Voucher Sent
                            <% elsif @candidate.stage == '5' %>
                                Studying for Test
                            <% elsif @candidate.stage == '6' %>
                                Test Scheduled
                            <% elsif @candidate.stage == '7' %>
                                Sent to Contracting
                            <% elsif @candidate.stage == '8' %>
                                Hired/Contracting Complete
                            <% elsif @candidate.stage == '9' %>
                                Archived/Not Interested
                            <% else @candidate.stage == '10' %>
                                Archived/No Contact
                            <% end %>
                        </p>
                    </div>
                    <div class="col">
                        <p class="h6"><strong>Phone:</strong> <%= @candidate.phone_number %></p>
                    </div>
                </div>
                <div class="row ml-3 mt-2">
                    <div class="col">
                        <% if !@candidate.date_of_birth.empty? %>
                            <p class="h6"><strong>Date of Birth:</strong> <%= @candidate.date_of_birth %></p>
                        <% end %>
                    </div>
                    <div class="col">
                        <% if !@candidate.interview_date.empty? %>
                            <p class="h6"><strong>Interview Date:</strong> <%= @candidate.interview_date %></p>
                        <% end %>
                    </div>
                </div>
                <div class="row ml-3 mt-2">
                    <div class="col">
                        <p class="h6"><strong>Affidavit Status:</strong> 
                            <% if @candidate.affidavit_received %>
                                Sent & Received
                            <% elsif @candidate.affidavit_sent %>
                                Sent but Not Received
                            <% else %>
                                Not Sent
                            <% end %>
                        </p>
                    </div>
                    <div class="col">
                        <p class="h6"><strong>Voucher Status:</strong> 
                            <% if @candidate.voucher_sent %>
                                Voucher Sent
                            <% else %>
                                Not Sent
                            <% end %>
                        </p>
                    </div>
                </div>
                <div class="row ml-3 mt-2">
                    <div class="col">
                        <p class="h6"><strong>Test Status:</strong> 
                            <% if @candidate.test_passed %>
                                Test Passed
                            <% elsif !@candidate.test_date.empty? %>
                                Test Scheduled on <%= @candidate.test_date %>
                            <% else %>
                                No Test Scheduled
                            <% end %>
                        </p>
                    </div>
                    <div class="col">
                        <p class="h6"><strong>License Status:</strong> 
                            <% if @candidate.licensed %>
                                Licensed
                            <% else %>
                                Not Licensed Yet
                            <% end %>
                        </p>
                    </div>
                </div>
                <div class="row ml-3 mt-2">
                    <div class="col">
                        <p class="h6"><strong>Agent:</strong> 
                            <% if @candidate.agent_id != 1 %>
                                <%= @agent.first_name %> <%= @agent.last_name %>
                            <% else %>
                                Not Assigned
                            <% end %>
                        </p>
                    </div>
                    <div class="col">
                        <p class="h6"><strong>Recruiter:</strong> 
                            <% if @candidate.recruiter_id != 2 %>
                                <%= @recruiter.first_name %> <%= @recruiter.last_name %>
                            <% else %>
                                Not Assigned
                            <% end %>
                        </p>
                    </div>
                </div>
                <div class="row mx-3 mt-2">
                    <div class="col">
                        <%= link_to "Edit Candidate", edit_candidate_path, :class => "btn btn-primary btn-block" %>
                    </div>
                    <div class="col">
                        <%= form_tag candidate_path(@candidate.id), method: "delete" do %>
                            <%= submit_tag "Delete #{@candidate.first_name} #{@candidate.last_name}", :class => "btn btn-danger btn-block" %>
                        <% end %>
                    </div>
                </div>
            </p>
        </div>
    </div>
</div>
