<!DOCTYPE html>
<html>
  <head>
    <title>RecruitCrm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/6396b028af.js" crossorigin="anonymous"></script>
  </head>

  <body class="mh-100 pb-0">
    <header class="shadow navbar navbar-light bg-white">
      <span class="navbar-brand mb-0 h1">Insurance Recruiter CRM</span>

      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <%= link_to "Login", login_path, :class => "btn btn-info" %>
        </li>
      </ul>
    </header>
    
    <div class="container-fluid">
      <div class="row flex-xl-nowrap justify-content-center">
      
      <%= yield %>

      </div>
    </div>
    

  </body>
</html>
